<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="LOG_FILE_PATH" source="logging.file.path" />
    <springProperty name="LOG_FILE_NAME" source="logging.file.name" />
    <springProperty name="LOG_MAX_HISTORY" source="logging.file.maxHistory" />
    <springProperty name="DBF_LOGGER_PACKAGE" source="scan.base.package" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PATH}/${LOG_FILE_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Формат имени ротированного файла -->
            <fileNamePattern>${LOG_FILE_PATH}/logs/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Хранить только последние 7 дней -->
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <!-- Фильтр для исключения стектрейса -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Логгер для DBF -->
    <logger name="com.example.transfer.dbf" level="info" additivity="false">
        <appender-ref ref="FILE"/> <!-- Запись в info.log -->
    </logger>

    <!-- Логгер для DBF -->
    <logger name="${DBF_LOGGER_PACKAGE}" level="info">
        <appender-ref ref="FILE"/> <!-- Запись в info.log -->
    </logger>

    <!-- Логгер для основного приложения -->
    <logger name="com.example.transfer" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/> <!-- Вывод в консоль -->
    </logger>
</configuration>